<template>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title: {{ book.title }}</h5>
        <p class="card-text">ID: {{ book.id }}</p>

        <button
          class="btn btn-primary mr-2"
          @click="
            update = true;
            tmpBook = book;
            this.book = tmpBook.title;
          "
        >
          Update
        </button>

        <button class="btn btn-danger md-6" @click="deleteBook(book)">
          Delete
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';

export default {
    props:{
        book: Object
    },

    setup(){
        const store = useStore()

        return{
            update: computed(() => store.getters['getUpdate']),

            deleteBook: (book) => store.dispatch('deleteBook', book)
        }
    }
};
</script>

<style>
</style>