<template>
  <div class="col-4">
    <form>
      <h4>Realizando un Crud</h4>
      <div class="mb-3 mt-3">
        <input
          v-model="book"
          type="text"
          class="form-control"
          placeholder="Title"
        />
      </div>

      <button
        v-if="!update"
        type="button"
        class="btn btn-success"
        @click="addBook"
      >
        Add
      </button>

      <button
        v-if="update"
        type="button"
        class="btn btn-success"
        @click="updateBook"
      >
        Update
      </button>
    </form>
  </div>
</template>

<script>
import { computed, ref } from "vue";
import { useStore } from "vuex";

export default {
  setup() {
    const store = useStore();

    const book = ref("");


    return {
      book,
      update: computed(() => store.getters['getUpdate']),
      addBook: () => store.dispatch('addBook', book),
      updateBook: () => store.dispatch('updateBook', book)

    };
  },
};
</script>

<style>
</style>