<template>
  <div class="container mt-4">
    <div class="row">
        <CardForm />

        <CardResultado 
            v-for="book in books" :key="book"
            :book="book" 
        />
    </div>
  </div>
</template>

<script>
import CardForm from './CardForm.vue'
import CardResultado from './CardResultado.vue'

import { computed, ref } from "vue";
import { useStore } from "vuex";


export default {
  name: "Crud",
  components:{
    CardForm,
    CardResultado
  },

  setup() {
    const store = useStore();
    const tmpBook = ref({});



    function deleteBook(book) {
      store.dispatch("deleteBook", book);
    }

    return {
      books: computed(() => store.getters.getAllBooks),
      deleteBook,
      tmpBook,
    };
  },
};
</script>

<style>
</style>